.navigation
  %ul
    %li
      %img{src: "/images/logo2.jpg"}/
    %li
      %a.menul{href: "#project"} Portfolio
    %li
      %a.menul{href: "#about"} About Me
    %li
      %a.menul{href: "#home"} Home
